<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scrollable Text Boxes with Django Form</title>
</head>
<body>
    {% load static %}
    <link rel="stylesheet" href="{% static 'show.css' %}">
    <div class="container">
            <textarea name="textbox1" placeholder="Text box 1">{{ text }}</textarea>
            <div class="right-box">
                <textarea name="textbox2" placeholder="Text box 2">{{ corrected }}</textarea>
            </div>
        </div>

</body>
</html>